@model IEnumerable<WebApplication3.Models.Student>

<p>
    @Html.ActionLink("List", "Home")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.s_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deparment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.advisor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
        <td>
        @Html.DisplayFor(modelItem => item.s_name)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.s_surname)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.deparment)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.advisor)
        </td>
        <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
        </tr>
    }
    </table>